{% extends "./base.html" %}

{% block content %}

<form method="post" action=" {{ regist_redirect_url.value }}">
<input type="hidden" name="{{ regist_status.label }}" value="{{ regist_status.value }}" />
<input type="hidden" name="{{ regist_type.label }}" value="{{ regist_type.value }}" />
{% csrf_token %}
<br>
<div>
<table>
You granted this permission and and confirm you receive the grant to your request:
</tr>
<tr><td>Access_token: {{ register_access_token.value }} </td></tr>
<tr><td>Access_Validation: {{ register_access_validate.value }} </td></tr>
<tr><td>Grant_User: {{ user.username }} </td></tr>
<tr><td><textarea rows="10" cols="50">{{ regist_redirect_url.value }}</textarea> </td></tr>
<tr><td><input type="submit" name="{{ regist_redirect_action.label }}" value="{{ regist_redirect_action.confirm }}" /></td></tr>
</table>
</div>
</form>

<br><br>

{% endblock %}

