{% extends "./base_regist.html" %}

{% block regist %}

<br>
Do you want to grant this permission?<br><br>

<form method="post" action="{{ regist_redirect_url.value }}">
<input type="hidden" name="{{ regist_redirect_token.label }}" value="{{ regist_redirect_token.value }}" />
<input type="hidden" name="{{ regist_status.label }}" value="{{ regist_status.value }}" />
<input type="hidden" name="{{ regist_type.label }}" value="{{ regist_type.value }}" />
{% csrf_token %}
<div>
<table>
Request:
</tr>
<tr> <td>URL: {{ regist_callback.value }} </td> </tr>
<tr> <td>Request_Token: </td> </tr>
<tr><td><textarea rows="5" cols="50">{{ regist_request_token.value }} </textarea></td></tr>
<tr> <td>Request_Scope: {{ regist_request_scope.value }} </td> </tr>
<tr> <td>Request_Reminder: {{ regist_request_reminder.value }} </td> </tr>
</table>
</div>

<br><br>

<div>
<table>
Action:
<tr> <td> <input type="submit" name="{{ regist_redirect_action.label }}" value="{{ regist_redirect_action.grant }}" /> </td></tr>
<tr> <td>  <input type="submit" name="{{ regist_redirect_action.label }}" value="{{ regist_redirect_action.modify_scope }}" /> </td></tr>
<tr> <td> <input type="submit" name="{{ regist_redirect_action.label }}" value="{{ regist_redirect_action.wrong_user }}" /> </td></tr>
</table>
</div>

</form>

{% endblock %}

