{% extends "./base.html" %}

{% block content %}

<br>
Attention: the request page may not exist if the URL you type is not exist 

<br><br>

<form method="post" action="regist">
{% csrf_token %}
Mutual registration with resource server
<table>
<tr>
  <td>URL</td>
  <td>Request Scope</td>
  <td>Reminder</td>
  <td>User Public</td>
  <td>Regist Type (*optional)</td>
  <td>Action</td>
</tr>
<tr>
  <td><input type="text" name="{{ register_callback.label }}" value="{{ register_callback.value }}" /></td>
  <td><input type="text" name="{{ registrant_request_scope.label }}" value="{{ registrant_request_scope.value }}" /></td>
  <td><input type="text" name="{{ registrant_request_reminder.label }}" value="{{ registrant_request_reminder.value }}" /></td>
  <td><input type="text" name="{{ registrant_request_user_public.label }}" value="{{ registrant_request_user_public.value }}" /></td>
  <td>
    <input type="checkbox" name="{{ regist_type.label }}" value="{{ regist_type.mutual }}" checked="checked"> {{ regist_type.mutual }} <br>
    <input type="checkbox" name="{{ regist_type.label }}" value="{{ regist_type.one_way }}" > {{ regist_type.one_way }} <br>
  </td>
  <td><input type="submit" name="{{ regist_init_action.label }}" value="{{ regist_init_action.generate }}" /></td>
</tr>
</table>
<input type="hidden" name="{{ regist_status.label }}" value="{{ regist_status.value }}" />
</form>

{% endblock %}

