{% extends "./base.html" %}

{% block content %}

<form method="post" action="{{ regist_redirect_url.value }}">
<input type="hidden" name="{{ regist_redirect_token.label }}" value="{{ regist_redirect_token.value }}" />
<input type="hidden" name="{{ regist_status.label }}" value="{{ regist_status.value }}" />
{% csrf_token %}
Redirect registration request to user in demand: <br>
*You can pass this link to anyone you want.
<table>
<tr>
  <th>URL</td>
  <th>Action</td>
</tr>
<tr>
  <td><textarea rows="10" cols="50">{{ regist_redirect_url.value }}</textarea></td>
  <td>
    {% if user.is_authenticated %}
    You have login, want to grant:<br>
    <input type="submit" name="{{ regist_redirect_action.label }}" value="{{ regist_redirect_action.redirect }}" />
    {% else %}
    Login to identify yourself: <br>
    <input type="submit" name="{{ regist_redirect_action.label }}" value="{{ regist_redirect_action.login_redirect }}" />
    {% endif %}
  </td>
</tr>
</table>
</form>

{% endblock %}

